env {
    R_PROFILE_USER = '/scratch/alpine/sxiao3@xsede.org/DASH4D_medi/.Rprofile'
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            errorStrategy = 'retry'
            maxRetries = 2

            // default setting
            queue = 'amilan'
            cpus = 1
            memory = '8GB'
            time = '12h'
            clusterOptions = '--qos=normal'

            // process with specific requirement
            // database.nf modules
            withName: 'download_sequences' {
                cpus = 8
                memory = '8GB'
            }

            withName: 'food_mappings' {
                cpus = 1
                memory = '64GB'
            }

            withName: 'sketch' {
                cpus = 2
                errorStrategy = {task.exitStatus in [137,143,104,134,139] ? 'retry': 'terminate'}
                maxRetries = 4
                memory = { 4.GB* (2 ** (task.attempt - 1)) }
            }

            withName: 'ANI' {
                cpus = 1
                memory = '128GB'
                time = '24h'
            }

            // build_db_kraken.nf modules
            withName: 'add_sequences' {
                cpus = 16
                memory = '52GB'
                time = '24h'
            }
            
            withName: 'add_existing' {
                cpus = 16
                memory = '64GB'
                time = '24h'
            }

            withName: 'build_kraken_db' {
                cpus = 32
                memory = '500GB'
                queue = 'amem'
                clusterOptions = '--qos=mem'
                time = '48h'
            }

            // build_db_bracken.nf modules

            withName: 'build_bracken' {
                cpus = 20
                memory = '750GB'
                queue = 'amem'
                clusterOptions = '--qos=mem'
                time = '48h'
            }

            withName: 'self_classify' {
                cpus = 8
                memory = '750GB'
                queue = 'amem'
                clusterOptions = '--qos=mem'
                time = '48h'
            }

            // quant.nf modules
            withName: 'preprocess' {
                cpus = 4
                memory = '8GB'
                time = '4h'
            }
            withName: 'kraken' {
                cpus = 24
                memory = '480GB'
                queue = 'amem'
                clusterOptions = '--qos=mem'
                time = '24h'
            }

        }
    }

    // local testing profile
    local {
        process.executor = 'local'
    }
}
